// Specific CSS for your home-page
iframe {
  width: 100%;
  height: 100%;
}

.main-container {
 display:flex;
 padding: 5px;
}

.playlist-pictures {
  width: 72.5vw;
}

.spotify-embed {
  width: 27.5vw;
  height: 91vh;
  position: fixed;
  right: 0;
  margin-right: 5px;
  margin-top: 4px;
}

.cover {
  margin-top : 4px;
  margin-bottom: 4px;
  margin-right: 1px;
  margin-left: 1px;
}


