// Specific CSS for your home-page
iframe {
  width: 100%;
  height: 66vh;
}

.main-container {
 display:flex;
 padding: 5px;
}

.playlist-pictures {
  width: 72vw;
}

.spotify-embed {
  flex-grow: 1;
  //width: 27.5vw;
  height: 91vh;
  //position: fixed;
  position:sticky;
  top: 60px;
  right: 0;
  margin-right: 5px;
  margin-top: 4px;
}

.overlay-image {
  margin-top : 2px;
  margin-right: 1px;
  margin-left: 1px;

  position: relative;
  width: 200px;
  height: 200px;
  display: inline-block;
}

/* Original image */
.overlay-image .cover {
 display: block;
}
/* Original text overlay */
.overlay-image .text {
 opacity: 0;
 color: white;
 font-size: 10px;
 line-height: 1.5em;
 text-align: center;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 100%;
 filter: brightness(80%);
}

.overlay-image:hover {
  .cover {
  animation: rotate 0.5s linear both;
  filter: brightness(15%);
  }
  .text{
    opacity: 1;
    transition-delay:0.3s;
  }
  .play-button:hover {
  transform: scale(1.05);
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(0);
  }
  70% {
    transform: rotateY(200deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}





