<div class = "main-container">

<div class = "playlist-pictures">

<%@spotifyPlaylists.each do |sp|%>
<h1><%= sp['name'] %></h1>
<%i = sp['images'].first%>
<%= image_tag i['url'], alt: "Le Wagon", width: 200, class:"cover", id:sp['id'] %>
<%end %>

</div>

<%= link_to "Add a playlist", new_playlist_path%>

<div class="spotify-embed"><iframe src="https://embed.spotify.com/?uri=spotify:user:oosabaj:playlist:2UDe8QqHAXUaLrdb0QsDGE" width="340" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></div>
</div>
