<div class = "main-container">

<div class = "playlist-pictures">
<%@spotifyPlaylists.each do |sp|%>
<%i = sp['images'].first%>
<div class="overlay-image">
<%= image_tag i['url'], alt: "Le Wagon", width: 200, height:200,  class:"cover" %>
<div class="text">
<%= image_tag "play-button.png", width: 80, height:80,  class:"play-button", id:sp['id']%>
<br>
<br>
<%= sp['owner']['display_name']%>
<br>
<%= sp['name']%>
</div>
</div>
<%end %>
</div>

<div class="spotify-embed"><iframe src="https://embed.spotify.com/?uri=spotify:user:oosabaj:playlist:2UDe8QqHAXUaLrdb0QsDGE" height=auto frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>


</div>
